In [1]:
#Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# My Functions

In [2]:
#decribe dataframe
def describe_df(dataframe, categorical=False):
    if not dataframe.empty:
        if categorical == False:
            return dataframe.describe()
        else:
            return dataframe.describe(include='O')
    else:
        return "Your dataframe does not exist! Check your dataframe variable."


#check nulls
def check_nulls(dataframe):
    num_nulls = dataframe.isnull().sum()
    percent_nulls = (num_nulls / len(dataframe) * 100).round(2)
    if not dataframe.empty:
        if num_nulls.sum() > 0:
            print(f"Here are the number of nulls per column: \n{num_nulls}")
            print(f"Here are the percent of nulls per column: \n{percent_nulls}")
        else:
            return "There are no nulls in your data."
    else:
        return "Your dataframe does not exist! Check your dataframe variable."

#check value counts
def unique(dataframe):
    if not dataframe.empty:
        return f"Here are the number of unique values per columns:", dataframe.nunique()


#check for dups
def check_dups(dataframe):
    num_dups = dataframe.duplicated().sum()
    if not dataframe.empty:
        return f"There are {num_dups} duplicates in your dataframe"
    else:
        return "Your dataframe does not exist! Check your dataframe variable."
    
#drop dups
def drop_dups(dataframe):
    dups = check_dups(dataframe)
    if dups == 0:
        return dataframe
    else:
        return dataframe.drop_duplicates()


#Visuals 

def make_hist(dataframe, columns, num_rows, num_columns, fig_size):
    if not dataframe.empty:
       fig, axs = plt.subplots(num_rows, num_columns, figsize=fig_size)
       for i in range(num_rows):
           for j in range(num_columns):
               axs[i,j].hist(dataframe[columns[i * num_columns + j]])
               axs[i,j].set_title(columns[i * num_columns + j])
    else:
        return "Your dataframe is empty. Check your dataframe variable"

#make boxplots
def make_boxplot(dataframe, columns, num_rows, num_columns, fig_size):
    if not dataframe.empty:
       fig, axs = plt.subplots(num_rows, num_columns, figsize=fig_size)
       for i in range(num_rows):
           for j in range(num_columns):
               axs[i,j].boxplot(dataframe[columns[i * num_columns + j]])
               axs[i,j].set_title(columns[i * num_columns + j])
    else:
        return "Your dataframe is empty. Check your dataframe variable"

#make pairplot
def make_pairplot(dataframe):
    return sns.pairplot(dataframe)

#make heatmap
def make_heatmap(dataframe):
    correlation = dataframe.corr(numeric_only=True)
    sns.heatmap(correlation, cmap='coolwarm', annot=True)
    return plt.show()

#make scatter plot
def make_scatter(dataframe, x_column, y_column, title: str, x_label: str, y_label: str):
    plt.scatter(x=dataframe[x_column], y=dataframe[y_column])
    plt.title(title)
    plt.xlabel(x_label)
    plt.ylabel(y_label)
    return plt.show()

# Data Formatting

In [2]:
#load data - ignore errors and load as string; it was easier

raw_data = pd.read_csv('38050-0001-Data.tsv', sep='\t', dtype=str, encoding_errors='ignore')

#make copy to work on
data = raw_data.copy()

In [13]:
#get random samples to see format
data.sample(10)

,CASEID,NAME,PID,CATEGORY,CATEGORY_ID,SUBCATEGORY,SUBCATEGORY_ID,PROJECT_PAGE_LOCATION_NAME,PROJECT_PAGE_LOCATION_STATE,PROJECT_PAGE_LOCATION_COUNTY,...,LAUNCHED_DATE,DEADLINE_DATE,PROJECT_CURRENCY,GOAL_IN_ORIGINAL_CURRENCY,PLEDGED_IN_ORIGINAL_CURRENCY,GOAL_IN_USD,PLEDGED_IN_USD,BACKERS_COUNT,STATE,URL_NAME
173501,173502,MASKED BY ICPSR,1208848559,Film & Video,11,Webseries,33,Luzern,Canton of Lucerne,Lucerne,...,11/14/2018,12/23/2018,CHF,"10,000",12,"$10,050",$12,3,failed,MASKED BY ICPSR
417029,417030,MASKED BY ICPSR,1737588510,Publishing,18,Nonfiction,48,Fenton,MI,Genesee,...,9/21/2014,11/20/2014,USD,"1,000",100,"$1,000",$100,4,failed,MASKED BY ICPSR
432525,432526,MASKED BY ICPSR,670699075,Publishing,18,Children's Books,46,Oklahoma City,OK,Oklahoma,...,6/20/2017,7/20/2017,USD,"1,000","1,689","$1,000","$1,689",45,successful,MASKED BY ICPSR
95338,95339,MASKED BY ICPSR,2105732639,Comics,3,Comic Books,250,Los Angeles,CA,Los Angeles,...,6/30/2016,8/9/2016,USD,"25,000","107,025","$25,000","$107,025",,successful,MASKED BY ICPSR
40149,40150,MASKED BY ICPSR,894122521,Music,14,Country & Folk,37,Sudbury,ON,Greater Sudbury,...,1/21/2015,2/20/2015,CAD,"55,000",0,"$44,063",$0,0,failed,MASKED BY ICPSR
327037,327038,MASKED BY ICPSR,404769194,Art,1,Public Art,53,West Yorkshire,England,,...,10/10/2016,11/9/2016,GBP,"3,000","3,690","$3,744","$4,605",176,successful,MASKED BY ICPSR
64485,64486,MASKED BY ICPSR,107097817,Design,7,Design,7,Gatehead,Scotland,Strathclyde,...,11/5/2020,12/20/2020,GBP,"35,000",196,"$47,329",$265,7,failed,MASKED BY ICPSR
69424,69425,MASKED BY ICPSR,1570453083,Technology,16,Technology,16,Melbourne,VIC,,...,6/22/2016,7/23/2016,AUD,"32,500","81,754","$24,270","$61,053",633,successful,MASKED BY ICPSR
360907,360908,MASKED BY ICPSR,70634078,Games,12,Tabletop Games,34,Snohomish,WA,Snohomish,...,2/21/2014,3/28/2014,USD,"2,500",363,"$2,500",$363,13,canceled,MASKED BY ICPSR
71642,71643,MASKED BY ICPSR,1789891552,Film & Video,11,Documentary,30,New York,NY,,...,12/4/2012,1/5/2013,USD,"30,000","30,518","$30,000","$30,518",184,successful,MASKED BY ICPSR

In [23]:
#check for duplicates before proceeding
check_dups(data)

'There are 0 duplicates in your dataframe'

In [3]:
# drop Name and URL name since it brings no value

data.drop(['NAME', 'URL_NAME'], axis=1, inplace=True)

In [4]:
#reformat feature names
#let's format and rename the columns so it doesn't look like we are yelling

data.columns = data.columns.str.capitalize()

# Some of the column names are too long
new_features = {'Caseid': 'Case_ID', 'Project_page_location_name': 'Project_Country',
                 'Project_page_location_state': 'Project_State', 'Project_page_location_county': 'City',
                 'Launched_date': 'Launched', 'Deadline_date': 'Deadline',
                 'Project_currency': 'Project_Currency', 'Goal_in_original_currency': 'Goal',
                 'Pledged_in_original_currency': 'Pledged', 'Goal_in_usd': 'Goal (USD)',
                 'Pledged_in_usd': 'Pledged (USD)', 'Backers_count': 'Backers (#)',
                 'State': 'Status'}

#change column names
data.rename(columns=new_features, inplace=True)

In [16]:
#check changes were made
data.sample(10)

,Case_ID,Pid,Category,Category_id,Subcategory,Subcategory_id,Project_Country,Project_State,City,Uid,Launched,Deadline,Project_Currency,Goal,Pledged,Goal (USD),Pledged (USD),Backers (#),Status
150837,150838,302761721,Art,1,Painting,23,Madrid,Madrid,Madrid,1915693377,3/31/2016,4/30/2016,EUR,"12,580",62,"$14,305",$72,1,canceled
345783,345784,2106200140,Publishing,18,Fiction,47,Dallas,TX,Dallas,431884450,9/25/2018,10/25/2018,USD,"2,600",596,"$2,600",$596,13,failed
224839,224840,501648753,Film & Video,11,Comedy,292,Arlington,TX,Tarrant,552224927,9/10/2015,11/6/2015,USD,"7,000",25,"$7,000",$25,1,failed
67048,67049,2002031791,Film & Video,11,Comedy,292,Phoenix,AZ,Maricopa,1464006786,11/6/2017,12/1/2017,USD,"35,000",0,"$35,000",$0,0,failed
335341,335342,128955672,Music,14,Country & Folk,37,Nashville,TN,Davidson,1938877041,2/5/2015,3/7/2015,USD,"3,000",279,"$3,000",$279,8,failed
42633,42634,1145355840,Food,10,Food,10,Philadelphia,PA,Philadelphia,868957561,6/1/2017,7/1/2017,USD,"50,000","89,695","$50,000","$89,695",171,successful
231899,231900,1220360434,Publishing,18,Nonfiction,48,Kelowna,BC,Central Okanagan,497828664,9/4/2017,11/3/2017,CAD,"6,500","13,526","$5,073","$10,556",118,successful
64843,64844,594513008,Technology,16,Apps,332,Atlanta,GA,Fulton,1644434830,2/7/2018,3/14/2018,USD,"35,000",65,"$35,000",$65,2,canceled
415269,415270,849202205,Comics,3,Comic Books,250,Montreal,QC,,1772419865,9/26/2019,11/26/2019,CAD,"1,000",335,$752,$252,14,failed
131777,131778,627352047,Technology,16,Web,342,Chicago,IL,Cook,631261372,10/24/2017,11/23/2017,USD,"15,000","15,063","$15,000","$15,063",105,successful

In [26]:
#check for empty strings first given its a tsv
empty_strings = data.applymap(lambda x: x == ' ')
count_empty = empty_strings.sum()
print(count_empty)

Case_ID                 0
Pid                     0
Category                0
Category_id             0
Subcategory             0
Subcategory_id          0
Project_Country      1873
Project_State        2014
City                64082
Uid                     0
Launched                0
Deadline                0
Project_Currency        0
Goal                    0
Pledged                 0
Goal (USD)              0
Pledged (USD)           0
Backers (#)         10148
Status                  0
dtype: int64

Empty strings in Project_Country, Project_State, City, and Backers (#)
- Can use Project_Currency to fill in empty countries
- drop state and city; too cumbersome to fill in
- Backers (#) will likely use median imputation

First let's deal with numeric columns

In [5]:
numeric_columns = ['Goal', 'Pledged', 'Goal (USD)', 'Pledged (USD)', 'Backers (#)']


#replace characters
def replace_characters(dataframe, columns, characters, replacement, regex):
    for column in columns:
        dataframe[column].replace(characters, replacement, regex=regex, inplace=True)
    return dataframe


#change data types
def change_data_type(dataframe, columns, new_type):
   for column in columns:
       dataframe[column] = dataframe[column].astype(new_type)
   return dataframe.info()

In [6]:
#replace some regular expressions in numeric columns with empty string
replace_characters(data, numeric_columns, '\$|,|\\s', '', True)

,Case_ID,Pid,Category,Category_id,Subcategory,Subcategory_id,Project_Country,Project_State,City,Uid,Launched,Deadline,Project_Currency,Goal,Pledged,Goal (USD),Pledged (USD),Backers (#),Status
0,1,2137925650,Film & Video,11,Science Fiction,301,London,England,Greater London,1076478145,8/11/2016,10/10/2016,USD,100000000,0,100000000,0,0,canceled
1,2,1501531085,Film & Video,11,Fantasy,296,Los Angeles,CA,Los Angeles,224946798,12/19/2019,2/14/2020,USD,100000000,85,100000000,85,4,canceled
2,3,953415668,Technology,16,Software,51,Mexico,Baja California,Tijuana,1772203542,3/1/2017,3/22/2017,MXN,100000000,10,5219374,1,1,failed
3,4,1371386304,Publishing,18,Publishing,18,Columbus,OH,Franklin,1373465389,6/4/2018,7/5/2018,USD,100000000,1,100000000,1,1,canceled
4,5,1720842777,Art,1,Illustration,22,Toronto,ON,Toronto,1455666383,5/1/2015,6/30/2015,CAD,100000000,0,80610122,0,0,failed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506194,506195,932773640,Publishing,18,Children's Books,46,Palo Alto,CA,Santa Clara,1484349690,8/7/2014,9/6/2014,USD,1,0,1,0,0,failed
506195,506196,620302213,Art,1,Conceptual Art,20,Detroit,MI,Wayne,211945026,11/25/2009,12/4/2009,USD,0,100,0,100,6,successful
506196,506197,688564643,Publishing,18,Fiction,47,Lyme,NH,Grafton,388384107,11/7/2011,12/13/2011,USD,0,0,0,0,0,canceled
506197,506198,9572984,Film & Video,11,Shorts,32,New York,NY,,1600537964,1/25/2012,3/16/2012,USD,0,0,0,0,0,failed
506198,506199,219760504,Film & Video,11,Documentary,30,Los Angeles,CA,Los Angeles,1998423069,7/12/2011,7/19/2011,USD,0,0,0,0,0,failed

In [7]:
#replace '' in numeric columns with np.nan
replace_characters(data, numeric_columns, '', np.nan, True)

,Case_ID,Pid,Category,Category_id,Subcategory,Subcategory_id,Project_Country,Project_State,City,Uid,Launched,Deadline,Project_Currency,Goal,Pledged,Goal (USD),Pledged (USD),Backers (#),Status
0,1,2137925650,Film & Video,11,Science Fiction,301,London,England,Greater London,1076478145,8/11/2016,10/10/2016,USD,100000000,0,100000000,0,0,canceled
1,2,1501531085,Film & Video,11,Fantasy,296,Los Angeles,CA,Los Angeles,224946798,12/19/2019,2/14/2020,USD,100000000,85,100000000,85,4,canceled
2,3,953415668,Technology,16,Software,51,Mexico,Baja California,Tijuana,1772203542,3/1/2017,3/22/2017,MXN,100000000,10,5219374,1,1,failed
3,4,1371386304,Publishing,18,Publishing,18,Columbus,OH,Franklin,1373465389,6/4/2018,7/5/2018,USD,100000000,1,100000000,1,1,canceled
4,5,1720842777,Art,1,Illustration,22,Toronto,ON,Toronto,1455666383,5/1/2015,6/30/2015,CAD,100000000,0,80610122,0,0,failed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506194,506195,932773640,Publishing,18,Children's Books,46,Palo Alto,CA,Santa Clara,1484349690,8/7/2014,9/6/2014,USD,1,0,1,0,0,failed
506195,506196,620302213,Art,1,Conceptual Art,20,Detroit,MI,Wayne,211945026,11/25/2009,12/4/2009,USD,0,100,0,100,6,successful
506196,506197,688564643,Publishing,18,Fiction,47,Lyme,NH,Grafton,388384107,11/7/2011,12/13/2011,USD,0,0,0,0,0,canceled
506197,506198,9572984,Film & Video,11,Shorts,32,New York,NY,,1600537964,1/25/2012,3/16/2012,USD,0,0,0,0,0,failed
506198,506199,219760504,Film & Video,11,Documentary,30,Los Angeles,CA,Los Angeles,1998423069,7/12/2011,7/19/2011,USD,0,0,0,0,0,failed

In [8]:
#replace all values where empty string with np.NaN
replace_characters(data, data.columns, ' ', np.nan, False)

,Case_ID,Pid,Category,Category_id,Subcategory,Subcategory_id,Project_Country,Project_State,City,Uid,Launched,Deadline,Project_Currency,Goal,Pledged,Goal (USD),Pledged (USD),Backers (#),Status
0,1,2137925650,Film & Video,11,Science Fiction,301,London,England,Greater London,1076478145,8/11/2016,10/10/2016,USD,100000000,0,100000000,0,0,canceled
1,2,1501531085,Film & Video,11,Fantasy,296,Los Angeles,CA,Los Angeles,224946798,12/19/2019,2/14/2020,USD,100000000,85,100000000,85,4,canceled
2,3,953415668,Technology,16,Software,51,Mexico,Baja California,Tijuana,1772203542,3/1/2017,3/22/2017,MXN,100000000,10,5219374,1,1,failed
3,4,1371386304,Publishing,18,Publishing,18,Columbus,OH,Franklin,1373465389,6/4/2018,7/5/2018,USD,100000000,1,100000000,1,1,canceled
4,5,1720842777,Art,1,Illustration,22,Toronto,ON,Toronto,1455666383,5/1/2015,6/30/2015,CAD,100000000,0,80610122,0,0,failed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506194,506195,932773640,Publishing,18,Children's Books,46,Palo Alto,CA,Santa Clara,1484349690,8/7/2014,9/6/2014,USD,1,0,1,0,0,failed
506195,506196,620302213,Art,1,Conceptual Art,20,Detroit,MI,Wayne,211945026,11/25/2009,12/4/2009,USD,0,100,0,100,6,successful
506196,506197,688564643,Publishing,18,Fiction,47,Lyme,NH,Grafton,388384107,11/7/2011,12/13/2011,USD,0,0,0,0,0,canceled
506197,506198,9572984,Film & Video,11,Shorts,32,New York,NY,NaN,1600537964,1/25/2012,3/16/2012,USD,0,0,0,0,0,failed
506198,506199,219760504,Film & Video,11,Documentary,30,Los Angeles,CA,Los Angeles,1998423069,7/12/2011,7/19/2011,USD,0,0,0,0,0,failed

In [9]:
#change Status values to title case

data['Status'] = data['Status'].str.title()

In [32]:
# see if above worked
check_nulls(data)

Here are the number of nulls per column:
Case_ID                 0
Pid                     0
Category                0
Category_id             0
Subcategory             0
Subcategory_id          0
Project_Country      1873
Project_State        2014
City                64082
Uid                     0
Launched                0
Deadline                0
Project_Currency        0
Goal                    0
Pledged                 0
Goal (USD)              0
Pledged (USD)           0
Backers (#)         10148
Status                  0
dtype: int64
Here are the percent of nulls per column:
Case_ID              0.00
Pid                  0.00
Category             0.00
Category_id          0.00
Subcategory          0.00
Subcategory_id       0.00
Project_Country      0.37
Project_State        0.40
City                12.66
Uid                  0.00
Launched             0.00
Deadline             0.00
Project_Currency     0.00
Goal                 0.00
Pledged              0.00
Goal (USD)           0.00
Pledged (USD)        0.00
Backers (#)          2.00
Status               0.00
dtype: float64

Plan:
- use Project_Currency to fill in Project_Country
- drop Project_State and Project_City as it will be too much work to accurately fill them in

In [10]:
#make dictionary using project currency

currency_codes = {'USD': 'United States of America', 'EUR': 'European Union', 'GBP': 'United Kingdom', 'CAD': 'Canada', 
                  'AUD': 'Australia', 'MXN': 'Mexico', 'SEK': 'Sweden', 'HKD': 'Hong Kong',
                  'NZD': 'New Zealand', 'DKK': 'Denmark', 'SGD': 'Singapore', 'CHF': 'Switzerland',
                  'NOK': 'Norway', 'JPY': 'Japan', 'PLN': 'Poland'}

#replace Project_Country values with currency code dictionary
data['Project_Country'] = data['Project_Currency'].map(currency_codes)

#Drop project_state, city, Goal and pledged - these are redundant features. It is better to focus on USD numbers as Kickstarter is an American company
data.drop(['Project_State', 'City', 'Goal', 'Pledged'], axis=1, inplace=True)

In [11]:
#change Launched and Deadline to datetime

data['Launched'] = pd.to_datetime(data['Launched'])
data['Deadline'] = pd.to_datetime(data['Deadline'])

When checking nulls we saw that there were nulls in the Backers (#) feature. Let's deal with those

In [12]:
#some more data cleaning

#fill nan with 0 in Backers (#) - already replaced empty spaces with na
data['Backers (#)'].fillna(0, inplace=True)

#change data type of Goal, Pledged, Backers (#) to int
change_data_type(data, ['Goal (USD)', 'Pledged (USD)', 'Backers (#)'], int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506199 entries, 0 to 506198
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Case_ID           506199 non-null  object
 1   Pid               506199 non-null  object
 2   Category          506199 non-null  object
 3   Category_id       506199 non-null  object
 4   Subcategory       506199 non-null  object
 5   Subcategory_id    506199 non-null  object
 6   Project_Country   506199 non-null  object
 7   Uid               506199 non-null  object
 8   Launched          506199 non-null  datetime64[ns]
 9   Deadline          506199 non-null  datetime64[ns]
 10  Project_Currency  506199 non-null  object
 11  Goal (USD)        506199 non-null  int64
 12  Pledged (USD)     506199 non-null  int64
 13  Backers (#)       506199 non-null  int64
 14  Status            506199 non-null  object
dtypes: datetime64[ns](2), int64(3), object(10)
memory usage: 57.9+ MB

The data types look good

Let's check the Logic of the Status columns
    - Successful campaigns should have more than 0 backers
    - Campaigns where Pledged > Goal should be Successful
    - Campaigns that were suspended or cancelled and with pledged < goal should not be Successful

In [36]:
#number of unique values 
unique(data['Status'])

('Here are the number of unique values per columns:', 4)

In [13]:
#check for successful campaigns that have 0 backers - 9890 instances will replace these with medians
success_no_backers = (data['Backers (#)'] == 0) & (data['Status'] == 'Successful')
success_no_backers.sum()

9890

In [14]:
#get median values for successful campaigns - omit those that don't equal 0
median_backers_success = data.loc[(data['Status'] == 'Successful') & (data['Backers (#)'] != 0), 'Backers (#)'].median()

# Replace the values that are 0 with the median value
data.loc[success_no_backers, 'Backers (#)'] = median_backers_success

In [15]:
#check to see if above worked - should return empty df
data[(data['Backers (#)'] == 0) & (data['Status'] == 'Successful')]

Empty DataFrame
Columns: [Case_ID, Pid, Category, Category_id, Subcategory, Subcategory_id, Project_Country, Uid, Launched, Deadline, Project_Currency, Goal (USD), Pledged (USD), Backers (#), Status]
Index: []

Need to make sure classifications make sense as well. any campaigns with Pledged >= Goal should be Successful

In [16]:
#check if any of the numeric columns have values under 0

under_0 =  data[(data['Goal (USD)'] < 0) | (data['Pledged (USD)'] < 0) | (data['Backers (#)'] < 0)]

under_0

,Case_ID,Pid,Category,Category_id,Subcategory,Subcategory_id,Project_Country,Uid,Launched,Deadline,Project_Currency,Goal (USD),Pledged (USD),Backers (#),Status
14428,14429,1317300700,Design,7,Product Design,28,United States of America,924758631,2014-11-19,2015-01-01,USD,150000,0,-2,Failed
117146,117147,1474098850,Design,7,Product Design,28,United States of America,1521927591,2014-12-09,2015-01-13,USD,20000,0,-2,Failed

In [17]:
#replace negative in Backers(#) - they were classified as Failed, so 0 makes sense plus Pledged was 0.
data.loc[under_0.index, 'Backers (#)'] = 0

In [18]:
#check above
data[(data['Goal (USD)'] < 0) | (data['Pledged (USD)'] < 0) | (data['Backers (#)'] < 0)]

Empty DataFrame
Columns: [Case_ID, Pid, Category, Category_id, Subcategory, Subcategory_id, Project_Country, Uid, Launched, Deadline, Project_Currency, Goal (USD), Pledged (USD), Backers (#), Status]
Index: []

In [19]:
#check for Successful status where Pledged < Goal - These should be Failures
should_be_fails = data[(data['Status'] == 'Successful') & (data['Pledged (USD)'] < data['Goal (USD)'])]
should_be_fails

,Case_ID,Pid,Category,Category_id,Subcategory,Subcategory_id,Project_Country,Uid,Launched,Deadline,Project_Currency,Goal (USD),Pledged (USD),Backers (#),Status
63410,63411,1769772834,Film & Video,11,Shorts,32,United States of America,467587104,2015-11-12,2015-12-27,USD,36000,30716,275,Successful
96929,96930,780863434,Design,7,Product Design,28,European Union,1859408531,2016-02-08,2016-03-19,EUR,28174,28053,90,Successful
506024,506025,715247891,Comics,3,Comics,3,European Union,343048188,2020-03-12,2020-03-13,EUR,1,0,70,Successful

In [20]:
# Replace the values that match the condition with 'Failed'
data.loc[data['Pledged (USD)'] < data['Goal (USD)'], 'Status'] = 'Failed'

In [21]:
#check above
data[(data['Status'] == 'Successful') & (data['Pledged (USD)'] < data['Goal (USD)'])]

Empty DataFrame
Columns: [Case_ID, Pid, Category, Category_id, Subcategory, Subcategory_id, Project_Country, Uid, Launched, Deadline, Project_Currency, Goal (USD), Pledged (USD), Backers (#), Status]
Index: []

In [22]:
#check for Failed Campaigns where pledged > Goal - These should be successful 
should_be_success = (data['Status'] == 'Failed') & (data['Pledged (USD)'] > data['Goal (USD)'])

should_be_success.sum()

14

In [23]:
#replace above values 
data.loc[should_be_success, 'Status'] = 'Successful'

In [24]:
#check above
data[(data['Status'] == 'Failed') & (data['Pledged (USD)'] > data['Goal (USD)'])]

Empty DataFrame
Columns: [Case_ID, Pid, Category, Category_id, Subcategory, Subcategory_id, Project_Country, Uid, Launched, Deadline, Project_Currency, Goal (USD), Pledged (USD), Backers (#), Status]
Index: []

In [25]:
#check for logic for Suspended and Cancelled
data[(data['Status'] == 'Suspended') | (data['Status'] == 'Cancelled') & (data['Pledged (USD)'] > data['Goal (USD)'])]

#There are instances were the logic doesn't make sense (pledged > goal should be Successful), but the campaigns could have been suspended or cancelled. Let's see how many there are

,Case_ID,Pid,Category,Category_id,Subcategory,Subcategory_id,Project_Country,Uid,Launched,Deadline,Project_Currency,Goal (USD),Pledged (USD),Backers (#),Status
4623,4624,1747331098,Technology,16,Gadgets,337,Japan,1514234148,2019-08-31,2019-09-30,JPY,4632,15775,243,Suspended
6511,6512,962749617,Technology,16,Gadgets,337,Hong Kong,564748291,2018-03-13,2018-05-12,HKD,38547,60079,0,Suspended
6644,6645,838662333,Technology,16,Gadgets,337,Japan,715725806,2018-07-18,2018-08-17,JPY,2696,14252,327,Suspended
7394,7395,733580186,Crafts,26,Crafts,26,Mexico,175084229,2019-12-10,2020-01-20,MXN,15837,34057,15,Suspended
11706,11707,1332048250,Technology,16,Technology,16,Hong Kong,2009722081,2017-07-07,2017-08-06,HKD,25615,39255,345,Suspended
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506090,506091,1585632193,Film & Video,11,Film & Video,11,United States of America,2026600056,2015-10-19,2015-12-18,USD,1,2,2,Suspended
506095,506096,1126842837,Music,14,Hip-Hop,39,United States of America,1750826492,2017-10-19,2017-11-19,USD,1,5,1,Suspended
506118,506119,577255107,Journalism,13,Journalism,13,United States of America,835402226,2014-08-19,2014-09-18,USD,1,1,1,Suspended
506126,506127,620418229,Games,12,Video Games,35,United Kingdom,1091173883,2015-12-23,2016-01-22,GBP,1,21,3,Suspended
506187,506188,828845799,Technology,16,Technology,16,European Union,501193574,2018-05-10,2018-07-09,EUR,1,8394,103,Suspended

In [57]:
#number of instances per status
data['Status'].value_counts()

Failed        309596
Successful    194469
Canceled        1493
Suspended        641
Name: Status, dtype: int64

Although the based on the criteria (pledged > goal == successful) there are some instances where that doesn't work for suspended/cancelled campaigns. So for modelling purposes the suspeneded/cancelled campaigns will become Failed

# Database

## Formatting

In [59]:
data.columns

Index(['Case_ID', 'Pid', 'Category', 'Category_id', 'Subcategory',
       'Subcategory_id', 'Project_Country', 'Uid', 'Launched', 'Deadline',
       'Project_Currency', 'Goal (USD)', 'Pledged (USD)', 'Backers (#)',
       'Status'],
      dtype='object')

I am going to drop Pid and Uid as I am focused more on the campaign specifics and not users. I will also add a ID column for Countries

In [61]:
data['Project_Country'].value_counts()

United States of America    370515
United Kingdom               50111
European Union               32463
Canada                       22064
Australia                    11457
Mexico                        5005
Sweden                        2974
Hong Kong                     2636
New Zealand                   2105
Denmark                       1781
Singapore                     1769
Switzerland                   1403
Norway                        1058
Japan                          840
Poland                          18
Name: Project_Country, dtype: int64

In [26]:
#declare dictionary with columns
country_dict = {'United States of America': 1, 'United Kingdom': 2, 'European Union': 3,
                'Canada': 4, 'Australia': 5, 'Mexico': 6, 'Sweden': 7, 'Hong Kong': 8,
                'New Zealand': 9, 'Denmark': 10, 'Singapore': 11, 'Switzerland': 12, 
                'Norway': 13, 'Japan': 14, 'Poland': 15}



#Add ID columns
data['Country_ID'] = data['Project_Country'].map(country_dict)

#change dtype
data['Country_ID'] = data['Country_ID'].astype(int)

#check
data.head(5)

,Case_ID,Pid,Category,Category_id,Subcategory,Subcategory_id,Project_Country,Uid,Launched,Deadline,Project_Currency,Goal (USD),Pledged (USD),Backers (#),Status,Country_ID
0,1,2137925650,Film & Video,11,Science Fiction,301,United States of America,1076478145,2016-08-11,2016-10-10,USD,100000000,0,0,Failed,1
1,2,1501531085,Film & Video,11,Fantasy,296,United States of America,224946798,2019-12-19,2020-02-14,USD,100000000,85,4,Failed,1
2,3,953415668,Technology,16,Software,51,Mexico,1772203542,2017-03-01,2017-03-22,MXN,5219374,1,1,Failed,6
3,4,1371386304,Publishing,18,Publishing,18,United States of America,1373465389,2018-06-04,2018-07-05,USD,100000000,1,1,Failed,1
4,5,1720842777,Art,1,Illustration,22,Canada,1455666383,2015-05-01,2015-06-30,CAD,80610122,0,0,Failed,4

In [27]:
#drop Pid and Uid - carry no value
data = data.drop(['Pid', 'Uid'], axis=1)

## Connection

In [31]:
#import libraries
import sqlite3
from sqlite3 import Error

In [28]:
#function to create connection
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

#function to execute queries
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")


def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

DB design...kind of

*Project Table*:
    - Contains information about individual campaigns (projects).
        - Columns:
            - caseID: Unique identifier for each project. PRIMARY
            - Launched: Date when the project was launched.
            - Deadline: Date when the project’s funding deadline ends.
            - categoryid: Foreign key referencing the Category table. SECONDARY
            - subcategoryid: Foreign key referencing the Subcategory table. SECONDARY
            - countryid: Foreign key referencing the Country table. SECONDARY
            - Goal: Funding goal in the specified currency.
            - Pledged: Amount pledged by backers (in USD or specified currency).
            - backers: Number of backers.
            - Status: Project status (e.g., successful, failed, ongoing).

*Category Table*:
    - Contains unique project categories.
        - Columns:
            - categoryid: Unique identifier for each category. PRIMARY
            - category: Name of the category (e.g., technology, art, music).

*Subcategory Table*:
    - Contains unique project subcategories.
        - Columns:
            - subcategoryid: Unique identifier for each subcategory. PRIMARY
            - subcategory: Name of the subcategory (e.g., mobile apps, painting, rock music).
            
*Country Table*:
    - Contains information about countries.
        - Columns:
            - countryid: Unique identifier for each country. PRIMARY
            - Country: Name of the country (e.g., United States, Canada).
            - Currency: Currency used in that country (e.g., USD, CAD).

In [39]:
#rename columns to match Tables
data.rename(columns={'Case_ID': 'Campaign_ID', 'Category_id': 'Category_ID',
                     'Subcategory_id': 'Subcategory_ID', 'Launched': 'Launch_Date',
                     'Deadline': 'End_Date', 'Goal (USD)': 'Goal',
                     'Pledged (USD)': 'Pledged', 'Backers (#)': 'Num_Donors'}, inplace=True)

#drop project_currency because it is redundant and Goal and Pledged are in USD
data = data.drop('Project_Currency', axis=1)

In [35]:
#create sqlite db and connect to it
connection = create_connection('kickstarter.sqlite')

Connection to SQLite DB successful

In [40]:
#define strings to create Tables

campaign_table = """
CREATE TABLE IF NOT EXISTS Campaigns (
    Campaign_ID INTEGER PRIMARY KEY,
    Launch_Date DATE,
    End_Date DATE,
    Category_ID INTEGER,
    Subcategory_ID INTEGER,
    Country_ID INTEGER,
    Goal INTEGER,
    Pledged INTEGER,
    Num_Donors INTEGER,
    Status TEXT,
    FOREIGN KEY (Category_ID) REFERENCES Categories,
    FOREIGN KEY (Subcategory_ID) REFERENCES Subcategories,
    FOREIGN KEY (Country_ID) REFERENCES Countries
);
"""

categories_table = """
CREATE TABLE IF NOT EXISTS Categories (
    Category_ID INTEGER PRIMARY KEY,
    Category TEXT
);
"""

subcategories_table = """
CREATE TABLE IF NOT EXISTS Subcategories (
    Subcategory_ID INTEGER PRIMARY KEY,
    Subcategory TEXT
);
"""

countries_table = """
CREATE TABLE IF NOT EXISTS Countries (
    Country_ID INTEGER PRIMARY KEY,
    Project_Country TEXT
);
"""

In [41]:
#create tables

#campaign table
execute_query(connection, campaign_table)

#categories table
execute_query(connection, categories_table)

#subcategories table
execute_query(connection, subcategories_table)

#countries table
execute_query(connection, countries_table)

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

In [60]:
#declare table specific df to put into tables

#campaign_df
campaigns_df = data[['Campaign_ID', 'Launch_Date', 'End_Date', 'Category_ID',
                     'Subcategory_ID', 'Country_ID', 'Goal', 'Pledged',
                     'Num_Donors', 'Status']]

#category_df
category_df = data[['Category_ID', 'Category']]
#drop duplicates
category_df = category_df.drop_duplicates()


#subcategory_df
subcat_df = data[['Subcategory_ID', 'Subcategory']]
#drop duplicates
subcat_df = subcat_df.drop_duplicates()

#country_df
country_df = data[['Country_ID', 'Project_Country']]
#drop duplicates
country_df = country_df.drop_duplicates()

In [61]:
#put data into db tables using .to_sql

#campaign data
campaigns_df.to_sql('Campaigns', connection, if_exists='replace', index=False)

#categories data
category_df.to_sql('Categories', connection, if_exists='replace', index=False)

#subcategories data
subcat_df.to_sql('Subcategories', connection, if_exists='replace', index=False)

#countries data
country_df.to_sql('Countries', connection, if_exists='replace', index=False)

15

In [47]:
#function to check tables
def check_tables(table_name=str):
    query = f"SELECT * FROM {table_name} LIMIT 10"
    my_table = execute_read_query(connection, query)
    for item in my_table:
        print(item)

In [48]:
#test campaigns
check_tables('Campaigns')

('1', '2016-08-11 00:00:00', '2016-10-10 00:00:00', '11', '301', 1, 100000000, 0, 0, 'Failed')
('2', '2019-12-19 00:00:00', '2020-02-14 00:00:00', '11', '296', 1, 100000000, 85, 4, 'Failed')
('3', '2017-03-01 00:00:00', '2017-03-22 00:00:00', '16', '51', 6, 5219374, 1, 1, 'Failed')
('4', '2018-06-04 00:00:00', '2018-07-05 00:00:00', '18', '18', 1, 100000000, 1, 1, 'Failed')
('5', '2015-05-01 00:00:00', '2015-06-30 00:00:00', '1', '22', 4, 80610122, 0, 0, 'Failed')
('6', '2016-11-22 00:00:00', '2017-01-21 00:00:00', '13', '360', 1, 100000000, 1, 1, 'Failed')
('7', '2015-06-02 00:00:00', '2015-08-01 00:00:00', '16', '16', 1, 100000000, 0, 0, 'Failed')
('8', '2014-06-05 00:00:00', '2014-08-04 00:00:00', '16', '342', 1, 100000000, 56, 6, 'Failed')
('9', '2020-09-09 00:00:00', '2020-11-08 00:00:00', '18', '323', 1, 100000000, 4, 4, 'Failed')
('10', '2017-08-14 00:00:00', '2017-09-13 00:00:00', '11', '11', 1, 100000000, 1, 1, 'Failed')

In [49]:
#test categories
check_tables('Categories')

('11', 'Film & Video')
('11', 'Film & Video')
('16', 'Technology')
('18', 'Publishing')
('1', 'Art')
('13', 'Journalism')
('16', 'Technology')
('16', 'Technology')
('18', 'Publishing')
('11', 'Film & Video')

In [50]:
#test subcategories
check_tables('Subcategories')

('301', 'Science Fiction')
('296', 'Fantasy')
('51', 'Software')
('18', 'Publishing')
('22', 'Illustration')
('360', 'Video')
('16', 'Technology')
('342', 'Web')
('323', 'Academic')
('11', 'Film & Video')

In [51]:
#test countries
check_tables('Countries')

(1, 'United States of America')
(1, 'United States of America')
(6, 'Mexico')
(1, 'United States of America')
(4, 'Canada')
(1, 'United States of America')
(1, 'United States of America')
(1, 'United States of America')
(1, 'United States of America')
(1, 'United States of America')

In [66]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
cursor = connection.cursor()
cursor.execute(sql_query)

table_names = cursor.fetchall()
print("List of tables:")
for table in table_names:
    print(table[0])

List of tables:
Campaigns
Categories
Subcategories
Countries

In [62]:
#check number of records in campaigns
cursor = connection.cursor()

# Count records in the Campaigns table
cursor.execute("SELECT COUNT(*) FROM Campaigns")
campaigns_count = cursor.fetchone()[0]
campaigns_count

506199

In [63]:
cursor = connection.cursor()

# Count records in the Campaigns table
cursor.execute("SELECT COUNT(*) FROM Categories")
cat_count = cursor.fetchone()[0]
cat_count

15

In [64]:
cursor = connection.cursor()

# Count records in the Campaigns table
cursor.execute("SELECT COUNT(*) FROM Subcategories")
subcat_count = cursor.fetchone()[0]
subcat_count

171

In [65]:
cursor = connection.cursor()

# Count records in the Campaigns table
cursor.execute("SELECT COUNT(*) FROM Countries")
countries_count = cursor.fetchone()[0]
countries_count

15